.poster-container{
    width: 80%;
    color: white;
}
.poster-footer{
    margin-top: 80px;
    text-align: center;
    width: 80%;
}
.poster-footer h1{
    font-weight: 400;
    margin-bottom: 20px;
}
.poster-footer p{
    line-height: 25px;
}
.poster-container img{
    width: 80%;
}




